

<div class="container">
  <div class="content">
    <div class="cards">
      <% @instruments.each do |i| %>
        <div class="card-category" style="background-image: url('<%= cl_image_tag(i.photo.key, width: 150, height: 150, crop: :fill) if i.photo.attached? %>')">
          <%= link_to i.name, instrument_path(i) %>
        </div>
        <%= link_to "Delete", instrument_path(i), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
  </div>


  <div class="photo">

  <%= cl_image_tag("hgxb7e5zfhnjk4bp0ul6",
      width: 400, height: 300, crop: :fill) %>
  </div>

  <hr>
  <%= link_to "Add an Instrument", new_instrument_path, class: "btn btn-primary" %>
</div>


<!-- <div class="content">
    <div class="cards">
      <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1556449895-a33c9dba33dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)">
        Guitar
      </div>
      <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1574775332594-6ec23d0d150a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
        Piano
      </div>
      <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1504653601220-f1a8ece25e4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
        Drums
      </div>
      <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1580719653258-26873fde0b4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
        Flute
      </div>
    </div>
</div> -->


