<div class="bg-dark ">
  <div class="bg-dark mx-5">
    <div class=" col-md-12 bg-dark py-2">

      <div class="bg-light m-4 py-4">
        <div class="text-center py-4">
          <h1><%= @instrument.name %></h1>
        </div>
        <div class="text-center py-4">
          <%= cl_image_tag @instrument.photo.key, width: 400, height: 300, crop: :fill %>
        </div>
        <div class="text-center px-4">
          <p><strong>Price per day: </strong><%= @instrument.price_per_day %> CHF |
            <strong>Owned by: </strong><%= @instrument.user.email %></p>
        </div>
          <div class="text-center">
                <%= link_to edit_instrument_path(@instrument) do %>
                  <i class="fas fa-pen"></i>
                <% end %>
                <%= link_to instrument_path(@instrument),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-trash" class="btn btn-flat"></i>
                  <% end %>
            </div>
        <div class="p-4 mx-4">
          <%= @instrument.description %>
        </div>

        <div class="text-center py-4">
          <div class="">
            <div class>
              <%= link_to "Add a booking", new_instrument_booking_path(@instrument), class: "btn btn-primary" %>
              <%= link_to "Add a review", new_instrument_review_path(@instrument), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>


      <div class="bg-light m-4 py-4">
        <div class="text-center py-4">
          <h3>Bookings</h3>
        </div>
        <div class="d-flex row py-4 mx-1">
          <% @instrument.bookings.each do |b| %>
          <div class="col-md-3 mx-4 px-4">
            <p><strong>Booked by:</strong> <%= b.user.email %>,</p>
            <p><strong>From: </strong><%= b.start_date %> to <%= b.end_date %></p>
            <%= link_to "Delete", booking_path(b),
                method: :delete,
                data: { confirm: "Are you sure?" } %>

          </div>
          <% end %>
        </div>
      </div>


      <div class="bg-light m-4 py-4">
        <div class="text-center py-4">
          <h3>Reviews</h3>
        </div>
        <% @instrument.reviews.each do |r| %>
        <div class="p-4 mx-4">
          <p><em><%= r.content %></em></p>
          <div class="d-flex justify-content-between">
            <div class="">
              <%= link_to "Delete review", review_path(r),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
            </div>
            <div class="">
              <p><em><strong>Posted by:</strong> <%= r.user.email%></em></p>
            </div>
          </div>
        </div>
       <% end %>

        <div class="text-center p-4">
          <%= link_to "Home", root_path, class: "btn btn-primary" %>
        </div>
      </div>


    </div>
  </div>
</div>
