<!DOCTYPE html>
<html>
  <head>
    <title>RailsAirmusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="banner">
      <h1>AIRMUSIC</h1>
      <h2>rent your sound</h2>
    </div>

    <%= yield %>
  </body>
</html>
